@main("Kafka Event Srouce"){



   <h1>Team Member Name: </h1>
   
   <h1 id="memberName"></h1>
   
   <script type="text/javascript" charset="utf-8">
   if (!!window.EventSource) {
       var stringSource = new EventSource("@routes.ScalaEventSourceController.teamMemberNames()");
       stringSource.addEventListener('message', function(e) {
          $('#memberName').html(e.data.replace(/(\d)/g, '<span>$1</span>'))
       });
     } else {
       $("#memberName").html("Sorry. This browser doesn't seem to support Server sent event."); 
     }     
   </script>
}